body {
  font-size: 10px;
}

/* Adding padding for fixed side nav */
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#slide-out {
  padding: 10px;
  padding-bottom: 60px;
}

#search {
  display: block;
  padding: 0 45px 0 30px;
  font-size: 16px;
  font-weight: 300;
  color: #777;
  height: 62px;
  box-sizing: border-box;
}

.search .search-wrapper i.material-icons {
  position: absolute;
  top: 21px;
  right: 10px;
  cursor: pointer;
}

div.sidenav.sidenav-fixed li {
  line-height: 44px;
}
